html {
    background: linear-gradient(rgba(0, 217, 218, 0.5) 0%, rgba(255, 197, 206, 0.5) 50%, rgba(251, 186, 123, 0.5) 100%);
    background-repeat: no-repeat;
    height: 100%;
    margin: auto;
    background-size: cover;
    overflow: hidden;
}

.container {
    margin-top: 5%;
    margin-right: 7%;
    margin-left: 7%;
    padding: 5%;
    background-color: white;
    text-align: center;
}

.logo {
    width: 250px;
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.teal, .teal:hover {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #00D9DA;
    -webkit-font-smoothing: antialiased;
}

.pink, .pink:hover {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #ffc5ce;
    -webkit-font-smoothing: antialiased;
}

.orange, .orange:hover {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #fbba7b;
    -webkit-font-smoothing: antialiased;
}

.hero {
    max-width: 500px;
    margin: auto;
    padding-top: 10px;
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
}

.text {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    margin: auto;
    padding-bottom: 10px;
    -webkit-font-smoothing: antialiased;
}

.links {
    max-width: 400px;
    padding-top: 18px;
    margin: auto;
}

.gummies {
    height:120px;
}