html {
    background: linear-gradient(rgba(0, 217, 218, 0.5) 0%, rgba(255, 197, 206, 0.5) 50%, rgba(251, 186, 123, 0.5) 100%);
    background-repeat: no-repeat;
    min-height: 100%;
    margin: auto;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    text-align: center;
    margin: 5%;
    padding: 5%;
    border-radius: 30px;
    box-shadow: 0px 6px 10px rgba(204, 192, 210, 0.18)
}

.logo {
    width: 200px;
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.teal, .teal:hover {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #00D9DA;
    -webkit-font-smoothing: antialiased;
}

.pink, .pink:hover {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #ffc5ce;
    -webkit-font-smoothing: antialiased;
}

.orange, .orange:hover {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #fbba7b;
    -webkit-font-smoothing: antialiased;
}

.hero {
    max-width: 500px;
    margin: auto;
    padding-top: 10px;
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
}

.text {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    margin: auto;
    padding-bottom: 10px;
    -webkit-font-smoothing: antialiased;
}

.links {
    max-width: 400px;
    padding-top: 18px;
    margin: auto;
}

.gummies {
    height:120px;
    padding-bottom: 10px;
}