<!-- Social cards -->
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="A zine about snacks.">
<meta property="og:image" content="assets/images/gummies.png">
<meta property="og:url" content="https://snaxreport.com">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="A zine about snacks.">
<meta name="twitter:image" content="assets/images/gummies.png">
