<!-- Social cards -->
<meta property="og:title" content="{{ page.title }}"></meta>
<meta property="og:description" content="A zine about snacks."></meta>
<meta property="og:image" content="assets/images/gummies.png"></meta>
<meta property="og:url" content="https://snaxreport.com"></meta>
<!-- <meta name="twitter:card" content="summary_large_image"></meta>
<meta name="twitter:title" content="{{ page.title }}"></meta>
<meta name="twitter:description" content="A zine about snacks."></meta>
<meta name="twitter:image" content="assets/images/gummies.png"></meta> -->
