body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

nav {
  margin: 4%;
  font-family: $sans-serif;
  font-weight: $bold;

  a {
    margin: 0 2%;
    &.selected-teal { color: $teal; }
    &.selected-orange { color: $orange; }
  }
}

.container {
  margin: 20% 12%;
  padding-bottom: 5%;

  p {
    font-style: italic;

    &.about {
      font-family: $serif;
      font-size: $medium-large;
    }

    &.stockists {
      font-family: $sans-serif;
      font-size: $small;
    }

    &.contact {
      font-family: $sans-serif;
      font-size: $small;
    }
  }
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.logo {
    flex-direction: column;
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 2%;
  }

  &.shop {
    .product {
      padding: 5%;

      img {
        max-width: 350px;
        max-height: 350px;
        object-fit: contain;
      }

      p {
        color: black;
        font-family: $sans-serif;
        font-style: normal;
        text-align: center;
        transition: 0.1s linear;
      }

      &:hover {
        p { color: $pink; }
      }
    }
  }
}

.section1 {
  width: 100%;

  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

.section2 { width: 100%; }

.description {
  font-family: $sans-serif;
  font-weight: $default;
  font-size: $regular;
  padding: 5% 5% 0 5%;
}

.bolditalic {
  font-family: $serif;
  font-weight: $bold;
  font-style: italic;
}

.medium {
  font-weight: $bold;
  font-size: $medium;
}

.button { padding: 0 0 15% 5%; }

.teal { color: $teal; }
.pink { color: $pink; }
.orange { color: $orange; }

a {
  text-decoration: none;
  color: $pink;
  font-weight: $bold;
  transition: 0.1s linear;

  &:hover {
    color: $orange;
  }

  &.teal {
    color: black;
    &:hover { color: $teal; }
  }

  &.pink {
    color: black;
    &:hover { color: $pink; }
  }

  &.orange {
    color: black;
    &:hover { color: $orange; }
  }
}

@media screen and (min-width: 750px) {
  // Home
  .container {
    margin: 6% 12%;
    p {
      &.about { font-size: $extra-large; }
    }
  }

  // Shop page
  .flex {
    &.shop {
      .product {
        padding: 5%;
        p { margin-top: 2%; }
      }
    }
  }

  // Product page
  .flex { flex-direction: row; }
  .section1 { width: 40%; }
  .section2 { width: 60%; }
  .description { max-width: 350px; }
  .button { padding: 0 0 5% 5%; }
}
