// Colors
$teal: #00D9DA;
$tealhover: lighten($teal, 10%);
$pink: #FFC5CE;
$pinkhover: lighten($pink, 10%);
$orange: #FBBA7B;
$orangehover: lighten($orange, 10%);

// Fonts
$sans-serif: "Karla", sans-serif;
$serif: "Lora", serif;

// Font sizes
$xxl: 144px;
$extra-large: 72px;
$large: 48px;
$medium-large: 36px;
$medium: 28px;
$regular: 18px;
$small: 14px;

// Font weights
$default: 400;
$bold: 700;
