<p>
  <span class="bolditalic">snax</span> is a zine about snacks, with original essays, poetry, and illustrations.
</p>
<p>
  <span class="bolditalic">created by</span> Jillian Meehan.
</p>
<p>
  <span class="bolditalic">featuring</span> Bradley Trumpfheller, Reba Crawford Hayes, Matthew Bischoff, Cassie Burge, Sami Main, Summer Farah, Allison Jenkins, and Selena Stafford.
</p>
<p>
  This is a PDF version of Issue One. For the print version, click <a href="/issueone">here.</a>
</p>
<p class="medium">
  Issue one ∙ $10
</p>
