<p>
  <span class="bolditalic">snax</span> is a zine about snacks, with original essays, poetry, and illustrations.
</p>
<p>
  <span class="bolditalic">created by</span> Jillian Meehan.
</p>
<p>
  <span class="bolditalic">featuring</span> Bradley Trumpfheller, Reba Crawford Hayes, Matthew Bischoff, Cassie Burge, Sami Main, Summer Farah, Allison Jenkins, and Selena Stafford.
</p>
<p>
  <span class="bolditalic">printed</span> by Conveyor Studio.
</p>
<p>
  Preorders will ship in October. Follow <a href="https://instagram.com/snaxreport">@snaxreport</a> on Instagram for updates.
</p>
<p class="medium">
  Issue one ∙ $20
</p>
