<div id="product-component-1568836552360"></div>
<script type="text/javascript">
  /*<![CDATA[*/
  (function () {
    var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
    if (window.ShopifyBuy) {
      if (window.ShopifyBuy.UI) {
        ShopifyBuyInit();
      } else {
        loadScript();
      }
    } else {
      loadScript();
    }
    function loadScript() {
      var script = document.createElement('script');
      script.async = true;
      script.src = scriptURL;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
      script.onload = ShopifyBuyInit;
    }
    function ShopifyBuyInit() {
      var client = ShopifyBuy.buildClient({
        domain: 'snax-a-zine-about-snacks.myshopify.com',
        storefrontAccessToken: 'b934058c9a261c0907c55540d6921967',
      });
      ShopifyBuy.UI.onReady(client).then(function (ui) {
        ui.createComponent('product', {
          id: '3757735772240',
          node: document.getElementById('product-component-1568836552360'),
          moneyFormat: '%24%7B%7Bamount%7D%7D',
          options: {
            "product": {
              "styles": {
                "product": {
                  "@media (min-width: 601px)": {
                    "max-width": "calc(25% - 20px)",
                    "margin-left": "20px",
                    "margin-bottom": "50px"
                  },
                  "text-align": "left"
                },
                "button": {
                  "font-family": "Karla, sans-serif",
                  "font-weight": "bold",
                  "font-size": "14px",
                  "padding-top": "15px",
                  "padding-bottom": "15px",
                  ":hover": {
                    "background-color": "#fcc188"
                  },
                  "background-color": "#fbba7b",
                  ":focus": {
                    "background-color": "#fcc188"
                  },
                  "border-radius": "10px"
                },
                "quantityInput": {
                  "font-size": "14px",
                  "padding-top": "15px",
                  "padding-bottom": "15px"
                }
              },
              "buttonDestination": "checkout",
              "contents": {
                "img": false,
                "title": false,
                "price": false
              },
              "text": {
                "button": "Preorder"
              },
              "googleFonts": [
              "Karla"
              ]
            },
            "productSet": {
              "styles": {
                "products": {
                  "@media (min-width: 601px)": {
                    "margin-left": "-20px"
                  }
                }
              }
            },
            "modalProduct": {
              "contents": {
                "img": false,
                "imgWithCarousel": true,
                "button": false,
                "buttonWithQuantity": true
              },
              "styles": {
                "product": {
                  "@media (min-width: 601px)": {
                    "max-width": "100%",
                    "margin-left": "0px",
                    "margin-bottom": "0px"
                  }
                },
                "button": {
                  "font-family": "Karla, sans-serif",
                  "font-weight": "bold",
                  "font-size": "14px",
                  "padding-top": "15px",
                  "padding-bottom": "15px",
                  ":hover": {
                    "background-color": "#fcc188"
                  },
                  "background-color": "#fbba7b",
                  ":focus": {
                    "background-color": "#fcc188"
                  },
                  "border-radius": "10px"
                },
                "quantityInput": {
                  "font-size": "14px",
                  "padding-top": "15px",
                  "padding-bottom": "15px"
                }
              },
              "googleFonts": [
              "Karla"
              ],
              "text": {
                "button": "Add to cart"
              }
            },
            "cart": {
              "styles": {
                "button": {
                  "font-family": "Karla, sans-serif",
                  "font-weight": "bold",
                  "font-size": "14px",
                  "padding-top": "15px",
                  "padding-bottom": "15px",
                  ":hover": {
                    "background-color": "#fcc188"
                  },
                  "background-color": "#fbba7b",
                  ":focus": {
                    "background-color": "#fcc188"
                  },
                  "border-radius": "10px"
                },
                "title": {
                  "color": "#000000"
                },
                "header": {
                  "color": "#000000"
                },
                "lineItems": {
                  "color": "#000000"
                },
                "subtotalText": {
                  "color": "#000000"
                },
                "subtotal": {
                  "color": "#000000"
                },
                "notice": {
                  "color": "#000000"
                },
                "currency": {
                  "color": "#000000"
                },
                "close": {
                  "color": "#000000",
                  ":hover": {
                    "color": "#000000"
                  }
                },
                "empty": {
                  "color": "#000000"
                },
                "noteDescription": {
                  "color": "#000000"
                },
                "discountText": {
                  "color": "#000000"
                },
                "discountIcon": {
                  "fill": "#000000"
                },
                "discountAmount": {
                  "color": "#000000"
                }
              },
              "text": {
                "title": "Your cart",
                "total": "Subtotal",
                "button": "Checkout"
              },
              "googleFonts": [
              "Karla"
              ]
            },
            "toggle": {
              "styles": {
                "toggle": {
                  "font-family": "Karla, sans-serif",
                  "font-weight": "bold",
                  "background-color": "#fbba7b",
                  ":hover": {
                    "background-color": "#fcc188"
                  },
                  ":focus": {
                    "background-color": "#fcc188"
                  }
                },
                "count": {
                  "font-size": "14px"
                }
              },
              "googleFonts": [
              "Karla"
              ]
            },
            "lineItem": {
              "styles": {
                "variantTitle": {
                  "color": "#000000"
                },
                "title": {
                  "color": "#000000"
                },
                "price": {
                  "color": "#000000"
                },
                "fullPrice": {
                  "color": "#000000"
                },
                "discount": {
                  "color": "#000000"
                },
                "discountIcon": {
                  "fill": "#000000"
                },
                "quantity": {
                  "color": "#000000"
                },
                "quantityIncrement": {
                  "color": "#000000",
                  "border-color": "#000000"
                },
                "quantityDecrement": {
                  "color": "#000000",
                  "border-color": "#000000"
                },
                "quantityInput": {
                  "color": "#000000",
                  "border-color": "#000000"
                }
              }
            }
          },
        });
      });
    }
  })();
  /*]]>*/
</script>
