<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta description={{ page.description }}>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include social.html %}
    {% include favicon.html %}
    {% include analytics.html %}


    <link rel="stylesheet" href="assets/css/shared.css">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Lora:400i,700i&display=swap" rel="stylesheet">

  </head>
  <body>
    <header>
      {% include header.html %}
    </header>
    <div class="flex">
      <div class="section1">
        <img src="{{ page.img }}">
      </div>
      <div class="section2">
        <nav>
          <a class="teal" href="/">about</a>
          <a class="orange" href="/shop">shop</a>
        </nav>
        <div class="description">
          {% include {{ page.description }} %}
        </div>
        <div class="button">
          {% include {{ page.button }} %}
        </div>
      </div>
    </div>
  </body>
</html>
